.wrapper {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100dvh;
  overflow-y: scroll;
  background: none;

  .scrollBarContainer {
    height: 80vh;
    width: 10%;
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 3rem;
    cursor: -webkit-grab;
  }

  .scrollBarContainer img {
    position: absolute;
    transform: translateY(-50%);
    height: 110px;
  }

  .scrollBar {
    background: #E6C189;
    width: 4px;
    stroke-width: 7px;
    stroke: #7B6A69;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 8px rgba(175, 148, 120, 0.40));
    box-shadow: 0px 0px 12px 0px #AF947866;
  }
}

.wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.wrapper {
  scrollbar-width: none;
  /* Firefox */
}

.wrapper::-webkit-scrollbar-thumb {
  display: none;
}


.dummyWrapper {
  position: absolute;
  z-index: 1;
  top: 3rem;
  height: 935px;
  width: 860px;
  transform: rotate(3deg);
}

.mainWrapper {
  position: relative;
  z-index: 2;
  height: fit-content;
  width: 850px;
  background: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

  .mobilebackContainer {
    position: fixed;
    z-index: 3;
    top: 1.2rem;
    left: 1.2rem;
  }

  h2 {
    padding-top: 2rem;
    font-size: 96px;
    font-family: "Birmingham";
    color: #2b1b03;
    text-decoration: underline;
    letter-spacing: 4px;
  }

  .instructionContainer {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    height: fit-content;
    width: 750px;
    border: 2px solid #483312;

    .heading {
      padding-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      h3 {
        font-size: 30px;
        color: #2b1b03;
        text-decoration: underline;
      }
    }

    .content {
      padding-top: 2.2rem;
      padding-left: 2.2rem;
      padding-right: 2rem;
      display: flex;
      // justify-content: center;
      color: #2b1b03;
      font-size: 25px;
      font-weight: 600;
      gap: 20px;
      // text-align: left;

      img {
        height: 30px;
        transform: translateY(4px);
        aspect-ratio: 1/1;
      }
    }

    .glogin {
      background: url("../../../src/assets/Register/gloginButton.png");
      width: fit-content;
      height: fit-content;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      cursor: pointer;

      svg {
        padding-left: 10px;
        height: 36px;
      }

      p {
        font-family: "Playfair Display";
        color: #AB9163;
        font-weight: 700;
        font-size: 30px;
      }
    }
  }
}

@media(max-width: 4000px) and (min-width: 2100px) {

  .wrapper {

    .scrollBarContainer img {
      height: 140px;
    }

    .scrollBar {
      width: 6px;
      stroke-width: 10px;
    }
  }

  .dummyWrapper {
    top: 6rem;
    height: 1304px;
    width: 1150px;
    transform: rotate(3deg);
  }

  .mainWrapper {
    width: 1100px;
    padding-bottom: 2.5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;

    .mobilebackContainer {
      top: 4rem;
      left: 4rem;
      scale: 1.6;
    }

    h2 {
      padding-top: 3rem;
      font-size: 125px;
      letter-spacing: 6px;
    }

    .instructionContainer {
      margin-top: 3rem;
      margin-bottom: 3rem;
      width: 950px;
      border: 6px solid #483312;
  
      .heading {
        padding-top: 2rem;
        gap: 16px;
  
        h3 {
          font-size: 42px;
        }
      }
  
      .content {
        padding-top: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 34px;
        gap: 28px;
  
        img {
          height: 40px;
          transform: translateY(8px);
        }
      }
  
      .glogin {
        gap: 17px;
        padding: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        cursor: pointer;
  
        svg {
          padding-left: 10px;
          height: 42px;
        }
  
        p {
          font-size: 34px;
        }
      }
    }
  }

}

@media(max-width: 1300px) {
  .wrapper {
    .scrollBarContainer {
      right: 0rem;
    }
  }
}

@media(max-width: 1000px) {
  .wrapper {
    .scrollBarContainer {
      display: none;
    }
  }
}

@media(max-width:980px) {

  .mainWrapper {

    .mobilebackContainer {
      position: absolute;
      top: 0.7rem;
      left: 0.5rem;
    }
  }
}

@media (max-width: 885px) {
  .dummyWrapper {
    display: none;
  }

  .mainWrapper {
    height: fit-content;
    width: 100%;
    padding-bottom: 2.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;

    .mobilebackContainer {
      position: absolute;
      top: 2.2rem;
      left: 1.5rem;
    }

    h2 {
      padding-top: 1.5rem;
      font-size: 56px;
      letter-spacing: 4px;
    }

    .instructionContainer {
      margin-top: 2rem;
      margin-bottom: 0rem;
      width: calc(100% - 4rem);
      border: 2.2px solid #483312;

      .heading {
        h3 {
          font-size: 24px;
        }
      }

      .content {
        padding-top: 2rem;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        font-size: 20px;
        gap: 20px;

        img {
          height: 26px;
          transform: translateY(2px);
          aspect-ratio: 1/1;
        }
      }

      .glogin {
        gap: 11px;
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        cursor: pointer;

        svg {
          padding-left: 10px;
          height: 34px;
          width: auto;
        }

        p {
          font-size: 28px;
        }
      }
    }
  }
}

@media(max-width: 580px) {

  .mainWrapper {
    padding-top: 1.5rem;

    .mobilebackContainer {
      position: absolute;
      top: 1rem;
      left: 1.5rem;
    }
  }
}

@media (max-width: 500px) {
  .mainWrapper {
    padding-top: 1rem;

    h2 {
      padding-top: 1.5rem;
      font-size: 40px;
      letter-spacing: 4px;
    }

    .instructionContainer {
      margin-top: 2rem;
      width: calc(100% - 3rem);
      border: 2.5px solid #483312;

      .heading {
        h3 {
          font-size: 20px;
        }

        svg {
          height: 11px;
          width: 11px;
        }
      }

      .content {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 0.8rem;
        font-size: 17px;
        gap: 12px;

        img {
          height: 20px;
          transform: translateY(4px);
          aspect-ratio: 1/1;
        }
      }

      .glogin {
        gap: 9px;
        padding: 0.6rem;
        margin-top: 1.7rem;
        margin-bottom: 2rem;
        cursor: pointer;

        svg {
          padding-left: 9px;
          height: 22px;
          width: auto;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }
}

@media(max-width: 410px) {
  .mainWrapper {
    padding-top: 1.6rem;

    .instructionContainer {
      .content {
        padding-top: 1.3rem;

        img {
          height: 19px;
          transform: translateY(4px);
          aspect-ratio: 1/1;
        }
      }
    }
  }
}