.overlay {
  z-index: 9;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  transition: opacity 300ms linear;

  .backBtn {
    background-color: transparent;
    border: none;
    position: fixed;
    z-index: 12;
    top: 1rem;
    left: 1rem;
    height: 70px;
    cursor: pointer;

    img {
      height: 100%;
    }
  }
}
