.btnWrapper {
  transition: opacity 300ms linear;
}

.overlayContainer {
  z-index: 9;
  width: 100vw;
  height: 100lvh;
  position: fixed;
  transition: opacity 300ms linear;
  top: 0;
  left: 0;

  // &.speakerContainer {
  //   overflow: scroll;
  //   display: flex;
  //   align-items: center;
  // }
}

.speakerContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.speakerContainer {
  scrollbar-width: none;
  /* Firefox */
}

.speakerContainer::-webkit-scrollbar-thumb {
  display: none;
}


