.preloaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
}

.imageContainer {
  position: relative;
  height: 100vh;
  width: 100%;
}

.rotatingImage1,
.rotatingImage2,
.rotatingImage3 {
  width: 100px;
  height: 100px;
  animation: rotate 2s linear infinite;
}

.rotatingImage1 {
  width: 100%;
  height: 100%;
}

.image1 {
  position: absolute;
  width: 212px;
  height: 212px;
  top: 32%;
  left: 43%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.rotatingImage2 {
  width: 423px;
  height: 423px;
}

.image2 {
  position: absolute;
  width: 423px;
  height: 423px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.rotatingImage3 {
  width: 175px;
  height: 175px;
}

.image3 {
  position: absolute;
  width: 175px;
  height: 175px;
  top: 64%;
  left: 44%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
