.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  gap: 5px;
  flex-wrap: wrap;

  video {
    width: 32%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ffb94b;
    min-width: 420px;

    &::-webkit-media-controls-panel {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover::-webkit-media-controls-panel {
      opacity: 1;
    }
  }
}
