.wrapper {
  width: 15rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // @media (width<1475px) {
  //   width: 14rem;
  // }
  @media (width>1999px) {
    width: 21rem;
  }
  @media (1999px>width>1900px) {
    width: 20rem;
  }
  @media (1900px>width>1805px) {
    width: 19rem;
  }
  @media (1810px>width>1710px) {
    width: 18rem;
  }
  @media (1710px>width>1610px) {
    width: 17rem;
  }
  @media (1610px>width>1510px) {
    width: 16rem;
  }
  @media (width<1280px) {
    width: 12.9rem;
  }
  @media (width<1101px) {
    width: 16rem;
  }
  @media (width<800px) {
    width: 13rem;
  }
  @media (width<460px) {
    width: 10.4rem;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .name {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 1.5rem);
    z-index: 2;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (width<460px) {
      transform: translate(-50%, 0.5rem);
    }
    .textFrame {
      width: 100%;
    }
    .text {
      font-family: TheClub;
      font-size: 1.3rem;
      position: absolute;
      color: #483a3b;
      font-weight: 400;
      @media (width<1580px) {
        font-size: 1.1rem;
      }
      @media (width<460px) {
        font-size: 0.9rem;
      }
    }
  }
  .pic {
    position: absolute;
    transform: translateY(-1rem);
    height: 50%;
    @media (width<1280px) {
      height: 45%;
      transform: translateY(-0.5rem);
    }
    @media (width<460px) {
      transform: translateY(-0.8rem);
      height: 48%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .dept {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: #483a3b;
    font-family: Redzein;
    font-weight: 400;
    font-size: 1rem;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    // @media (width<1700px) {
    //   font-size: 0.9rem;
    // }
    // @media (width<1510px) {
    //   font-size: 0.8rem;
    // }
    @media (width>1510px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media (1610px>width>1510px) {
      min-height: 2rem;
    }
    @media (width>1610px) {
      min-height: 3rem;
    }
    @media (1910px>width>1610px) {
      font-size: 1.1rem;
    }
    @media (width>1910px) {
      min-height: 4rem;
      font-size: 1.3rem;
    }
    @media (width<1280px) {
      font-size: 0.7rem;
      min-height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 2.8rem;
    }
    @media (800px<width<1100px) {
      font-size: 1rem;
      min-height: 2.5rem;
    }
    @media (width<460px) {
      font-size: 0.7rem;
      bottom: 2rem;
    }
  }
  .contact {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    z-index: 4;
    bottom: 1rem;
    transform: scale(0.8);
    @media (width<1280px) {
      transform: scale(0.7);
      bottom: 0.8rem;
    }
    @media (width<460px) {
      transform: scale(0.5);
      bottom: 0.3rem;
    }
  }
}
