.registerContainer {
    padding-top: 0rem;
    height: 100vh;
    padding-bottom: 0rem;
    overflow-y: hidden;

    .scrollContainer {
        height: calc(100vh - 0rem);
        overflow-y: scroll;
    }
}

.scrollContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.scrollContainer {
    scrollbar-width: none; /* Firefox */
}
.scrollContainer::-webkit-scrollbar-thumb {
    display: none;
}