.registerContainer {
    padding-top: 0rem;
    height: 100vh;
    padding-bottom: 0rem;
    overflow-y: hidden;
    background: radial-gradient(40.9% 58.96% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), url("../src/assets/Register/regBackground.png");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.backbtnContainer {
    position: fixed;
    top: 1rem;
    left: 2rem;
    z-index: 2;
}

@media(max-width: 885px) {
    
    .registerContainer {
        background: none;
        height: fit-content;
    }

    .backbtnContainer {
        display: none;
    }
}