@use "../../src/global.scss" as *;

*{
  box-sizing: border-box;
}
.Wrapper{
    height: 100%;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .scrollBarContainer {
      height: 80vh;
      width: 10%;
      margin: 10vh 0;
      display: flex;
      justify-content: center;
      position: fixed;
      right: -1.5rem;
      cursor: -webkit-grab;

      @media screen and (max-width: 1366px) {
        right: 1rem;
      }
    }
  
    .scrollBarContainer img {
      position: absolute;
      transform: translateY(-50%);
      height: 110px;
    }
  
    .scrollBar {
      background: #E6C189;
      width: 4px;
      stroke-width: 7px;
      stroke: #7B6A69;
      border-radius: 5px;
      filter: drop-shadow(0px 0px 8px rgba(175, 148, 120, 0.40));
      box-shadow: 0px 0px 12px 0px #AF947866;
    }

    @media screen and (max-width: 768px) {
      .scrollBarContainer {
        display: none;
      }
    }

    a{
      text-decoration: none;
    }
  
    .backgroundImage {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(30%)
      }
    }
  
    .heading {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      -webkit-user-drag: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img{
        height: 140px;
        transform: translateY(-10px);
      }
      
      @media screen and (max-width: 900px) {
        img{
          height: 120px;
          transform: translateY( -5px);
        }
      }
      @media screen and (max-width: 500px) {
        img{
          height: 105px;
          transform: translateY( -2px);
        }
      }
    } 
  
    .sponsors {
      align-self: center;
      box-sizing: border-box;
      position: fixed;

      padding:40px;
      bottom: 0;
      display: flex;
      flex-direction: column;
      height: calc(100% - 170px);
      width: 1500px;
      max-width: 100%;
      align-items: center;
      justify-items: center;
      gap: 50px;
      overflow: scroll;
      // transform: translate(-50%, -50%);
      -webkit-user-drag: none;

      scrollbar-width: none;
      -ms-overflow-style: none; 
      &::-webkit-scrollbar {
        display: none; 
      }

      @media screen and (max-width: 925px) {
        .other{
          display: none;
        }
      }

      @media screen and (max-width: 900px) {
        height: calc(100% - 140px);
      }
      @media screen and (max-width: 450px) {
        height: calc(100% - 115px);
      }
      .titleSponsor{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        img{
          width: 500px;
        }
        .sponsName{
          font-size: 28px;
        }
        .head{ 
          font-size: 32px;
        }
        @media (max-width: 650px) {
          img{
            width: 100%;
          }
          .sponsName{
            font-size: 24px;
          }
          .head{
            font-size: 28px;
          }
        }
      }
      .otherSponsors{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 45px;
        box-sizing: border-box;
        
        .otherSponsor{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 400px;
         gap: 15px;
         box-sizing: border-box;
         padding: 10px;
         .mediaPatner{
          display: flex;
          justify-content: center;
         }
        img{  
          height: 100px;
          max-width: 100%;
            object-fit: contain;
            object-position: center;
        }
        .sponsName{
          font-size: 24px;
        }
        .head{
          font-size: 26px;
          height: 64px;
        }
        @media (max-width: 650px) {
          width: 300px;
          max-width: 100%;
          img{
            height: 80px;
            max-width: 90%;
            object-fit: contain;
            object-position: center;
          }
          .sponsName{
            font-size: 20px;
          }
          .head{
            height: 50px;
            font-size: 24px;
          }
          
        }
      }
      }
      .sponsName{
        color: white;
        font-family: "Artifika";
        font-weight: 400;
        font-family: "OldNewspaperTypes";
        font-weight:600;
        text-align: center;
      }
      .head{
        color: white;
        font-family: "Artifika";
        font-family: "OldNewspaperTypes";
        font-weight:600;
        text-align: center;
      }
  
      
    }
  }
  