.logoContainer {
  width: 20%;
  max-width: 280px;
  min-width: 160px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: transform 400ms ease-out;

  .bg {
    position: absolute;
    height: 120%;
    left: 50%;
    transform: rotateX(180deg) translateX(-50%);
  }

  .logo {
    aspect-ratio: 544 / 149;
    width: 100%;
    height: auto;
    filter: invert(1);
  }
}
