.logo {
  aspect-ratio: 544 / 229;
  width: 20%;
  max-width: 300px;
  min-width: 180px;
  top: clamp(-22px, -2vw, -17px);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 10;
  transition: opacity 250ms linear;
}
