.logoContainer {
  width: 20%;
  max-width: 280px;
  min-width: 160px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: transform 400ms ease-out;

  .bg {
    position: relative;
    height: 120%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  .logo {
    aspect-ratio: 544 / 149;
    width: 100%;
    height: auto;
    filter: invert(1);
  }
}

.hamMenu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  .hamBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 21;

    .backBtn {
      background-color: transparent;
      border: none;
      position: fixed;
      z-index: 23;
      top: 3rem;
      left: 3rem;
      height: 90px;
      cursor: pointer;

      img {
        height: 100%;
      }

      @media (width < 660px) {
        // top: 0.5rem;
        left: 0.5rem;
        height: 80px;
      }

      @media (width < 600px) {
        top: 1.25rem;
        left: 0.5rem;
        height: 60px;
      }

      @media (width < 430px) {
        left: 0.25rem;
      }

      @media (width < 400px) {
        height: 50px;
        top: 1.25rem;
      }
    }
  }

  .leftContainer,
  .rightContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
    transition: all 800ms ease-out;
  }

  .hamLeft,
  .hamRight {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
    transition: all 800ms ease-out;
  }
  .leftContainer {
    z-index: 23;
  }
}
