.arrows {
  display: flex;
  flex-direction: column;
  gap: 0px;
  transform: scale(0.05);
  position: relative;
  // transform: scale(5);
  // .first {
  //   position: absolute;
  //   top: 0;
  // }
  // .second {
  //   position: absolute;
  //   top: 5px;
  // }
  // .third {
  //   position: absolute;
  //   top: 10px;
  // }
}
