// .wrapper {
//   // font-size: 100px;
//   // background-color: blue;
//   // position: fixed;
//   // top: 88vh;
//   // z-index: 10;
//   // height: 100vh;
//   width: 100vw;
//   position: fixed;
//   bottom: 0;
//   z-index: 10;
//   margin: 0;
//   padding: 0;
//   // pointer-events: none;
//   .nav {
//     width: 100%;
//     position: absolute;
//     display: flex;
//     bottom: 0;
//     .logo {
//       position: absolute;
//       bottom: 0;
//       img {
//         position: absolute;
//         bottom: 0;
//       }
//     }
//     .register {
//       position: absolute;
//       right: 0;
//       bottom: 0;
//       z-index: 2;
//       img {
//         position: absolute;
//         right: 0;
//         bottom: 0;
//       }
//     }
//     .container {
//       position: relative;
//       z-index: -2;
//       bottom: 0;
//       left: 24.2rem;
//       width: 100%;
//       height: 10%;
//       .content {
//         position: absolute;
//         gap: 0.5rem;
//         left: 30%;
//         bottom: 1.25rem;
//         transform: translateX(-50%);
//         width: 55%;
//         z-index: 2;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         .screw {
//           height: 2rem;
//           width: 2rem;
//           img {
//             height: 100%;
//             width: 100%;
//             object-fit: cover;
//           }
//         }
//       }
//       .grunge {
//         position: absolute;
//         bottom: 0;
//         z-index: 1;
//       }
//       .bg {
//         position: absolute;
//         bottom: 0;
//         z-index: 0;
//       }
//     }
//   }
// }

.regbtnContainer {
  position: fixed;
  bottom: 0;
  text-align: center;
  height: 85px;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    height: 85px;
    // transform: scale(0.9);

    .regbtn {
      height: 85px;
      cursor: pointer;
      width: 370px;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        margin-top: 1rem;
        height: 60px;
      }
    }
  }
}
