.backBtn {
  height: 84px;
  width: 84px;
  cursor: pointer;
  // display: none;

  img {
    height: 100%;
  }
}

.mobilebackBtn {
  display: none;
}

@media (max-width: 980px) {
  .backBtn {
    display: none;
  }

  .mobilebackBtn {
    display: block;
    height: 30px;
    cursor: pointer;

    img {
      height: 100%;
    }
  }
}

@media (max-width: 500px) {
  .mobilebackBtn {
    display: block;
    height: 20px;
  }
}
