.wrapper {
  height: 100vh;
  width: 100vw;
  // background-color: rgb(191, 179, 179);
  background: transparent;
  padding: 0;
  margin: 0;
  .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 28%;
    }
    .text {
      position: absolute;
      // top: 3rem;
      transform: translate(-0.5rem, 1rem);
      text-transform: uppercase;
      color: white;
      font-family: OldNewspaperTypes;
      font-weight: 500;
      font-size: 2.5rem;
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    @media (width<1100px) {
      overflow-y: scroll;
      height: 75%;
    }
    @media (width<460px) {
      gap: 0.4rem;
    }
  }
}
