.backBtn {
    height: 84px;
    width: 84px;
    cursor: pointer;
    // display: none;

    img {
        height: 100%;
    }
}

.mobilebackBtn {
    display: none;
}

@media (max-width: 980px) {
    .backBtn {
        height: 64px;
        width: 64px;
    }

    .mobilebackBtn {
        display: none;
        height: 30px;
        cursor: pointer;

        img {

            height: 100%;
        }
    }
}

<<<<<<< HEAD
@media (max-width: 400px) {
=======
@media (max-width: 460px) {
>>>>>>> 75c055ee17f017900adfa75f0754b92233fb5aec
    .backBtn {
        display: none;
    }

    .mobilebackBtn {
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 100px;
        background-color: white;
        img{
            width: 30px;
        }
    }
}