.logoContainer {
  width: 20%;
  max-width: 280px;
  min-width: 160px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: transform 400ms ease-out;

  .bg {
    position: relative;
    height: 120%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  .logo {
    aspect-ratio: 544 / 149;
    width: 100%;
    height: auto;
    filter: invert(1);
  }
}

.hamMenu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .ham {
      position: relative;
      z-index: 30;
      // width: 100%;
      // height: 100%;
      min-width: 1234.782593px;
      min-height: 896.521729px;
      // width: 1234.782593px;
      // height: 896.521729px;
      top: 57%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: opacity 0.3s ease-out;
      transform: scale(0.8) translateY(-50%);

      .firstCircle {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        // transform: scale(0.9);
      }
      .firstArc {
        position: absolute;
        left: 50%;
        top: 1.5%;
        .svgPath {
          opacity: 0;
          stroke-dasharray: 500;
          stroke-dashoffset: 500;
          animation: 2s linear 0.75s forwards connector;
        }
      }
      .firstGear {
        position: absolute;
        top: 10%;
        left: 64%;
      }
      .firstGearArc {
        position: absolute;
        top: 9.5%;
        left: 70.5%;
        transform: rotateZ(-5deg);
      }
      .secondArc {
        position: absolute;
        top: 26%;
        left: 30.6%;
      }
      .wedge {
        position: absolute;
        top: 35%;
        left: 55.5%;
      }
      .thirdArc {
        position: absolute;
        top: 1.5%;
        left: 29%;
      }
      .secondGear {
        position: absolute;
        top: 42%;
        left: 29%;
      }
      .fifthCircle {
        position: absolute;
        top: 41.4%;
        left: 29.7%;
      }
      .gearCircle {
        position: absolute;
        top: 10%;
        left: 34%;
      }
      .thirdGear {
        position: absolute;
        top: 15%;
        left: 38%;
      }
      .thirdGearArc {
        position: absolute;
        top: 15%;
        left: 54%;
        transform: rotateZ(-3deg);
      }
      .firstArrow {
        position: absolute;
        top: 40%;
        left: 71.5%;
      }
      .thirdCircle {
        position: absolute;
        top: 49.3%;
        left: 72.4%;
      }
      .secondArrow {
        position: absolute;
        top: 40%;
        left: 49.5%;
      }
      .fourthCircle {
        position: absolute;
        top: 64.8%;
        left: 47.8%;
      }
      .thirdArrow {
        position: absolute;
        top: 14%;
        left: 26.5%;
      }
      .sixCircle {
        position: absolute;
        top: 11.6%;
        left: 24.5%;
      }
      .main {
        transform: scale(0.7);
      }
    }
  }

  .hamBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 21;

    .backBtn {
      background-color: transparent;
      border: none;
      position: fixed;
      z-index: 23;
      top: 3rem;
      left: 3rem;
      height: 90px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease-out;

      img {
        height: 100%;
      }

      @media (width < 660px) {
        // top: 0.5rem;
        left: 0.5rem;
        height: 80px;
      }

      @media (width < 600px) {
        top: 1.25rem;
        left: 0.5rem;
        height: 60px;
      }

      @media (width < 430px) {
        left: 0.25rem;
      }

      @media (width < 400px) {
        height: 50px;
        top: 1.25rem;
      }
    }
  }

  .hamLeft,
  .hamRight {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
    transform: translateX(-100%);
  }

  .hamRight {
    transform: translateX(100%);
  }
  @keyframes connector {
    100% {
      stroke-dashoffset: unset;
    }
  }
}
