.preloaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
  z-index: 100000;
}

.imageContainer {
  position: relative;
  height: 100vh;
  width: 100%;

  @media screen and (max-width: 768px) {
    scale: 0.6;
  }

  //   @media screen and (max-width: 480px) {
  //     scale: 0.5;
  //   }
}

.rotatingImage1,
.rotatingImage2,
.rotatingImage3,
.rotatingImage4 {
  width: 100px;
  height: 100px;
  animation: rotate 4s linear infinite;
}

.rotatingImage1 {
  width: 100%;
  height: 100%;
}

.image1 {
  position: absolute;
  width: 96px;
  height: 96px;
  top: 42%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 2;

  @media screen and (max-width: 768px) {
    top: 40%;
    left: 40%;
  }
}

.rotatingImage2 {
  width: 100%;
  height: 100%;
}

.image2 {
  position: absolute;
  width: 193px;
  height: 193px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.rotatingImage3 {
  width: 100%;
  height: 100%;
}

.image3 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 58%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 3;

  @media screen and (max-width: 768px) {
    left: 41%;
    top: 59%;
  }
}

// .rotatingImage4 {
//   width: 246px;
//   height: 246px;
// }

// .image4 {
//   position: absolute;
//   width: 246px;
//   height: 246px;
//   top: 50%;
//   left: 60%;
//   transform: translate(-50%, -50%);
//   z-index: 4;
// }

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
