* {
  border: none;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: #2d2d2d;
}

@font-face {
  font-family: 'Birmingham';
  src: url('/fonts/Birmingham.ttf') format('truetype');
}
