@font-face {
  font-family: "Birmingham";
  src: url("/fonts/Birmingham.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  border: none;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: black;
}

@font-face {
  font-family: "Birmingham";
  src: url("/fonts/Birmingham.ttf") format("truetype");
}

@font-face {
  font-family: "OldNewspaperTypes";
  src: url("/fonts/OldNewspaperTypes.ttf") format("truetype");
}

@font-face {
  font-family: "TheClub";
  src: url("../public/fonts/The 27 Club.otf") format("truetype");
}

@font-face {
  font-family: "Redzein";
  src: url("../public/fonts/Redzein Vintage.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}