$translateYWave: -100%;

@keyframes animate {
  0% {
    transform: translate(-50%, $translateYWave) rotate(0deg);
  }
  100% {
    transform: translate(-50%, $translateYWave) rotate(360deg);
  }
}

@mixin waveStyles() {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 200%;
  height: 200%;
  background: black;
  transform: translate(-50%, $translateYWave);
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .progress {
    color: white;
    font-family: sans-serif;
  }

  .circle {
    aspect-ratio: 1 / 1;
    width: 175px;
    background-color: transparent;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    position: relative;

    .innerCircle {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: 1;
      transform: translateY(100%);
      transition: transform 250ms linear;

      .wave {
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        background: #2c74b3;
        box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.5);

        &::before {
          @include waveStyles();
          border-radius: 45%;
          background: rgba(255, 255, 255, 1);
          animation: animate 5s linear infinite;
        }

        &::after {
          @include waveStyles();
          border-radius: 40%;
          background: rgba(255, 255, 255, 0.5);
          animation: animate 10s linear infinite;
        }
      }
    }
  }
}
