@keyframes waveGeneratorAnimation {
  from {
    transform: translateX(-50%) rotate(360deg);
  }
  to {
    transform: translateX(-50%) rotate(0deg);
  }
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .progress {
    color: white;
    font-family: sans-serif;
  }

  .circle {
    aspect-ratio: 1 / 1;
    width: 175px;
    background-color: white;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    position: relative;

    .waveGenerator {
      aspect-ratio: 1 / 1;
      width: 200%;
      height: auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -100%;
      transition: top 500ms ease-in-out;

      &:first-of-type {
        background-color: gray;
        border-radius: 40%;
        animation: waveGeneratorAnimation 5s linear infinite;
      }

      &:last-of-type {
        background-color: black;
        border-radius: 45%;
        animation: waveGeneratorAnimation 10s linear infinite;
      }
    }
  }
}
