@keyframes waveGeneratorAnimation {
  from {
    transform: translateX(-50%) rotate(360deg);
  }
  to {
    transform: translateX(-50%) rotate(0deg);
  }
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 1rem;

  .bgGlow {
    aspect-ratio: 1920 / 1080;
    height: 100%;
    width: auto;
    position: fixed;
    background: radial-gradient(
      28.4% 50% at 50% 50%,
      #804602 0%,
      #4b2500 38.57%,
      #060000 100%
    );
    z-index: -1;
    opacity: 0;
    transition: opacity 250ms linear;
  }

  .progress {
    color: rgb(255, 255, 127);
    mix-blend-mode: difference;
    font-family: sans-serif;
    position: fixed;
    z-index: 2;
  }

  .circle {
    aspect-ratio: 1 / 1;
    width: 175px;
    background: radial-gradient(50% 50% at 50% 50%, #eced8e 0%, #e4e74e 100%);
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    position: relative;

    .waveGenerator {
      aspect-ratio: 1 / 1;
      width: 200%;
      height: auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -100%;
      transition: top 250ms ease-in-out;

      &:first-of-type {
        background-color: black;
        opacity: 0.75;
        border-radius: 40%;
        animation: waveGeneratorAnimation 5s linear infinite;
      }

      &:last-of-type {
        background-color: black;
        opacity: 0.5;
        border-radius: 45%;
        animation: waveGeneratorAnimation 10s linear infinite;
      }
    }
  }
}
