.aboutUs {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    background-size: cover;

    .heading {
        text-align: center;
        height: 190px;

        img {
            height: 100%;
        }
    }

    .mainBody {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 6rem;
        gap: 2rem;

        .videoWrapper {

            .videoBackground {
                height: 370px;
                position: relative;

                img {
                    height: 100%;
                    // pointer-events: none;
                }

                .buttonContainer {

                    .prev {
                        position: absolute;
                        left: -5px;
                        top: calc(50% - 17.5px);

                        img {
                            height: 35px;
                            cursor: pointer;
                        }
                    }

                    .next {
                        position: absolute;
                        right: -5px;
                        top: calc(50% - 17.5px);

                        img {
                            height: 35px;
                            cursor: pointer;
                        }
                    }
                }

                .video {
                    position: absolute;
                    height: 218px;
                    width: 376px;
                    top: 75px;
                    left: 82px;
                    overflow: hidden;
                    border-radius: 15px;
                    // z-index: -2;
                    
                    iframe{
                        pointer-events: all !important;
                        cursor: pointer;
                    }

                    .left {
                        animation: left 0.7s ease-in-out;
                    }

                    .right {
                        animation: right 0.7s ease-in-out;
                    }
                }

                @keyframes left {
                    10% {
                        // transform: translateX(-50%);
                    }

                    15% {
                        opacity: 0;
                    }

                    60% {
                        opacity: 0;
                        // transform: translateX(0);
                    }

                    80% {
                        // transform: translateX(50%);
                        opacity: 0;
                    }

                    85% {
                        opacity: 1;
                    }

                    100% {
                        transform: translateX(0);
                    }
                }

                @keyframes right {
                    10% {
                        // transform: translateX(100%);
                    }

                    15% {
                        opacity: 0;
                    }

                    60% {
                        opacity: 0;
                        // transform: translateX(0);
                    }

                    80% {
                        // transform: translateX(-100%);
                        opacity: 0;
                    }

                    85% {
                        opacity: 1;
                    }

                    100% {
                        // transform: translateX(0);
                    }
                }
            }
        }

        .textContainer {
            width: 50%;

            p {
                color: #CDBB93;
                text-shadow: 4px 5px 1px #000;
                font-family: "OldNewspaperTypes";
                font-weight: 500;
                font-size: 25px;
                line-height: 39px;
                text-align: center;
            }
        }
    }
}