.aboutUs {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    flex-direction: column;
    background-size: cover;

    .heading {
        text-align: center;
        height: 120px;

        img {
            height: 100%;
        }
    }

    .mainBody {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 6rem;
        gap: 2rem;

        .videoWrapper {

            .videoBackground {
                height: 400px;
                position: relative;

                img {
                    height: 100%;
                }

                .video {
                    position: absolute;
                    height: 200px;
                    width: 390px;
                    top: 100px;
                    left: 100px;
                }
            }
        }
        .textContainer {
            width: 50%;

            p {
                color: white;
                font-family: "OldNewspaperTypes";
                font-weight: 500;
                font-size: 25px;
                line-height: 39px;
                text-align: center;
            }
        }
    }
}