.aboutUs {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    background-size: cover;

    .heading {
        text-align: center;
        height: 180px;
        transform: translateY(-2px);

        img {
            height: 100%;
        }

        #second {
            display: none;
        }
    }

    .mainBody {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 6vh;
        gap: 5.6vw;
        margin-left: 2rem;
        margin-right: 2rem;

        .videoWrapper {
            .skeleton {
                background-color: #251008;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -3;
            }

            .videoBackground {
                height: 370px;
                width: 540px;
                position: relative;

                img {
                    height: 100%;
                    // pointer-events: none;
                }

                .buttonContainer {
                    .prev {
                        position: absolute;
                        left: -63px;
                        top: calc(50% - 30px);
                        background-color: transparent;

                        img {
                            height: 60px;
                            cursor: pointer;
                        }
                    }

                    .next {
                        position: absolute;
                        right: -67px;
                        top: calc(50% - 30px);
                        background-color: transparent;

                        img {
                            height: 60px;
                            cursor: pointer;
                        }
                    }
                }

                .video {
                    position: absolute;
                    height: 218px;
                    width: 376px;
                    top: 75px;
                    left: 82px;
                    overflow: hidden;
                    border-radius: 15px;

                    iframe {
                        pointer-events: all !important;
                        cursor: pointer;
                    }

                    .left {
                        animation: left 0.7s ease-in-out;
                    }

                    .right {
                        animation: right 0.7s ease-in-out;
                    }
                }

                @keyframes left {
                    10% {
                        // transform: translateX(-50%);
                    }

                    15% {
                        opacity: 0;
                    }

                    60% {
                        opacity: 0;
                        // transform: translateX(0);
                    }

                    80% {
                        // transform: translateX(50%);
                        opacity: 0;
                    }

                    85% {
                        opacity: 1;
                    }

                    100% {
                        transform: translateX(0);
                    }
                }

                @keyframes right {
                    10% {
                        // transform: translateX(100%);
                    }

                    15% {
                        opacity: 0;
                    }

                    60% {
                        opacity: 0;
                        // transform: translateX(0);
                    }

                    80% {
                        // transform: translateX(-100%);
                        opacity: 0;
                    }

                    85% {
                        opacity: 1;
                    }

                    100% {
                        // transform: translateX(0);
                    }
                }
            }
        }

        .textContainer {
            width: 43%;

            p {
                color: #cdbb93;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.80);
                font-family: "Artifika";
                font-weight: 400;
                font-size: 25px;
                line-height: 33px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1200px) {
    .aboutUs {
        .mainBody {
            gap: 2rem;
            margin-top: 4.5rem;

            .textContainer {
                p {
                    font-size: 22px;
                    line-height: normal;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .aboutUs {
        height: 100dvh;
        overflow-y: scroll;

        .heading {
            height: 160px;
            transform: translateY(-20px);
        }

        .mainBody {
            gap: 2rem;
            margin-top: 3rem;
            flex-direction: column;

            .textContainer {
                width: 80%;

                p {
                    font-size: 22px;
                    line-height: normal;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .aboutUs {
        .mainBody {
            .videoWrapper {
                .videoBackground {
                    height: 320px;
                    width: auto;

                    .video {
                        position: absolute;
                        height: 188px;
                        width: 320px;
                        top: 65px;
                        left: 77px;
                        overflow: hidden;
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .aboutUs {

        .heading {
            height: 130px;
        }

        .mainBody {
            gap: 2rem;
            margin-top: 0;
            padding-top: 0rem;
            margin-bottom: 0rem;
            // height: calc(100vh - 130px);
            overflow-y: scroll;

            .textContainer {
                width: 100%;

                p {
                    margin-left: 2.3rem;
                    margin-right: 2.3rem;
                    font-size: 17px;
                    line-height: normal;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}


@media (max-width: 500px) {
    .aboutUs {
        width: 100vw;
        overflow-x: hidden;

        .heading {
            width: 230px;
            height: 95px;
            margin-left: calc((100% - 230px)/2);
            text-align: center;

            img {
                transform: translateX(-5px);
                width: 100%;
            }

            #first {
                display: none;
            }

            #second {
                display: block;
            }
        }

        .mainBody {
            margin-top: 0rem;
            padding-top: 1rem;

            .videoWrapper {
                
                .videoBackground {
                    text-align: center;
                    height: auto;
                    width: 100%;
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 1rem;

                    .skeleton {
                        height: 100%;
                        width: calc(90% + 8px);
                        transform: translateX(calc(5% - 4px));
                    }

                    #frame {
                        display: none;
                    }

                    .buttonContainer {
                        display: none;
                        gap: 30vw;
                        justify-content: center;

                        .prev {
                            position: absolute;
                            left: 13px;
                            top: calc(50% - 12.5px);

                            img {
                                height: 25px;
                            }
                        }

                        .next {
                            position: absolute;
                            right: 13px;
                            top: calc(50% - 12.5px);

                            img {
                                height: 25px;
                            }
                        }
                    }

                    .video {
                        border-radius: 5px;
                        border: 4px solid #dfbc9d;
                        box-shadow: 0px 0px 24px 0px rgba(169, 143, 108, 0.6);
                        margin-left: calc((100% - 90% - 8px) / 2);
                        position: static;
                        height: 160px;
                        width: 90%;
                        // aspect-ratio: 16/9;
                        top: 0px;
                        left: 0px;
                    }
                }
            }

            .textContainer {

                p {
                    margin-left: 1.3rem;
                    margin-right: 1.3rem;
                    font-size: 14px;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
