$bg-color: rgba(8, 7, 7, 0.75);
$text-color: #EDBE6B;
$border-color: #FFB94D;
$button-color: #1D0F0C;
$button-hover-color: darken($button-color, 30%);

.pageContainer {
    width: 100%;
    height: 100dvh;
    // position: relative;
    background-image: url(../../src/assets/Quantaculus/background.png);
    // background-size: 100vw 100dvh;
    // position: fixed;
    // inset: 0;
    // overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 800px) {
        background-image: url(../../src/assets/Quantaculus/background-tab.png);

    }

    @media screen and (max-width: 568px) {
        overflow-y: scroll;
        background-image: url(../../src/assets/Quantaculus/background-mobile.png);
    }

    // .leftHelm {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     height: 100dvh;
    //     width: auto;

    //     @media screen and (max-width: 800px) {
    //         display: none;
    //     }
    // }

    // .rightHelm {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     height: 100dvh;
    //     width: auto;

    //     @media screen and (max-width: 800px) {
    //         display: none;
    //     }
    // }

    .pageWrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        // position: absolute;
        // scale: .8;

        // .hud {
        //     position: absolute;
        //     top: 0;
        //     left: 50%;
        //     transform: translateX(-50%) translateY(-80%);
        //     width: auto;
        //     height: clamp(100px, 10vw, 170px);
        //     object-fit: contain;

        //     @media screen and (max-width: 768px) {
        //         height: 100px;
        //         transform: translateX(-50%) translateY(-100%);
        //     }
        // }
    }
}

// .homeBtn {
//     width: clamp(150px, 13vw, 240px);
//     aspect-ratio: 2.7;

//     outline: none;
//     border: none;

//     // background-image: url("@assets/landing/hamMenuButton.png");
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;

//     background-color: transparent;

//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%) translateY(-75%);
//     top: clamp(90px, calc(9.4vw - 7px), 154px);
//     pointer-events: all;

//     display: flex;
//     align-items: center;
//     justify-content: center;

//     transition: border-color 0.2s ease-in-out;
//     display: none;
//     // visibility: visible;
//     // opacity: 1;
//     z-index: 1;

//     @media screen and (max-height: 700px) {
//         top: 90px;
//         width: 140px;
//     }

//     & * {
//         transition: all 0.2s ease-in-out;
//     }

//     span {
//         position: relative;
//         top: -2px;

//         font-size: 1rem;
//         font-weight: 200;
//         text-transform: uppercase;
//         text-shadow: 0px 0px 14.815px rgba(154, 240, 244, 0.7);
//         color: inherit;
//         padding-inline: 0.5rem;
//         transition: all 0.2s ease-in-out;

//         @media screen and (max-height: 700px),
//         screen and (max-width: 600px) {
//             font-size: 0.7rem;
//         }
//     }

//     &:hover {
//         cursor: pointer;
//         color: var(--hover-link);
//         text-shadow:
//             0px 0px 24.402px rgba(198, 50, 50, 0.86),
//             0px 0px 3.754px rgba(198, 50, 50, 0.8);

//         div div {
//             background-color: var(--hover-link);
//         }

//         span {
//             text-shadow: 0px 0px 14.815px var(--hover-link);
//         }
//     }
// }

.submitted{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.loginBox {
    height: fit-content;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
    color: $text-color;
    padding: 3rem;

    // .loginFrame {
    //     position: absolute;
    //     top: 0;

    //     @media screen and (max-width: 1300px) {
    //         // margin-top: -2rem;
    //         // scale: .95;
    //     }

    //     @media screen and (max-width: 408px) {
    //         // margin-top: 1rem;
    //     }
    // }

    // @media screen and (max-width: 1200px) {
    //     // width: 50vw;
    // }

    // @media screen and (max-width: 1000px) {
    //     width: 70vw;
    //     // scale: .7;
    // }

    // @media screen and (max-width: 800px) {
    //     width: 90vw;
    //     scale: .7;
    // }

    // @media screen and (max-width: 600px) {
    //     width: 95vw;
    //     // scale: .7;
    // }

    // @media screen and (max-width: 500px) {
    //     width: 120vw;
    //     height: 90vh;
    //     // scale: .6;
    //     // background-size: contain;
    //     // scale: 1;
    // }

    h1 {
        font-family: "Birmingham";
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 4.2px;
        padding-bottom: 3rem;
    }

    h3 {
        font-size: 24px;
        font-weight: 300;
        font-family: "Playfair Display";
        padding-bottom: 2rem;
    }

    .loginForm {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $text-color;
        position: relative;

        .label {
            font-family: "Playfair Display";
            font-style: italic;
            font-size: 22px;
            font-weight: 400;
            line-height: 32px;
            width: 100%;
        }

        input {
            background-color: $button-color;
            margin-bottom: 2rem;
            margin-top: .5rem;
            padding: .75rem 1.5rem;
            border-radius: 5px;
            outline: none;
            font-size: 20px;
            font-family: "Playfair Display";
            color: $text-color;

            &::placeholder {
                color: $text-color;
            }
        }

        .errorMessage {
            color: #9c2e1f;
            font-size: 18px;
            position: absolute;
            bottom: 5.3rem;
        }

        .submit {
            margin-top: 3rem;
            background-color: $button-color;
            color: $text-color;
            padding: 0.8rem 1.8rem;
            border: 2px solid $border-color;
            font-family: "OldNewspaperTypes";
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            cursor: pointer;
            margin-bottom: 0;
        }
    }
}

.showPassword {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    font-size: 1rem;
    position: relative;
    top: 1rem;
    left: 3rem;

    input{
        width: 2rem;
        margin: auto;
        // text-align: center;
        outline: none;
        background-color: $button-color;
        color: $text-color;
    }

    label{
        line-height: 28px;
        text-wrap: nowrap;
    }
}

.passlabel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submitBtn{
    @media screen and (max-width: 768px){
        display: none;
    }
}

.submitBtnMobile{
    display: none;

    @media screen and (max-width: 768px){
        display: block;
    }
}

.contentBox {
    // position: relative;
    // margin-top: 2rem;
    // scale: .9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // @media screen and (max-width: 1200px) {
    //     scale: .7;
    // }

    // @media screen and (max-width: 900px) {
    //     scale: .6;
    // }

    // @media screen and (max-width: 768px) {
    //     scale: 1;
    // }

    // @media screen and (max-width: 408px) {
    //     scale: .7;
    // }

    .instructions {
        position: absolute;
        width: 90%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $bg-color;
        color: $text-color;
        padding: 2rem;

        @media screen and (max-width: 768px) {
            padding: 1.6rem;
        }

        // @media screen and (max-width: 500px) {
        //     padding: 1.6rem;
        //     width: 100%;
        // }

        h1 {
            font-family: "Birmingham";
            text-align: center;
            font-size: 32px;
            letter-spacing: 4px;

            @media screen and (max-width: 900px) {
                font-size: 28px;
            }

            @media screen and (max-width: 500px) {
                font-size: 24px;
            }
        }

        ul {
            margin-top: 3rem;
            margin-bottom: 3rem;
            height: fit-content;

            li {
                margin-left: 2.5rem;
                font-family: "Playfair Display";
                font-size: 22px;
                font-weight: 300;
                line-height: 38px;
                text-align: left;

                @media screen and (max-width: 900px) {
                    font-size: 18px;
                    line-height: 34px;
                }
    
                @media screen and (max-width: 500px) {
                    font-size: 16px;
                    line-height: 32px;
                }
            }

        }

        button {
            // margin-left: 1.25rem;
            //background: #367F9A66;
            background-color: $button-color;
            color: $text-color;
            padding: 0.9rem 1.8rem;
            border: 2px solid $border-color;
            font-family: "OldNewspaperTypes";
            font-size: 25px;
            font-weight: 700;
            text-align: center;
            cursor: pointer;
            border-radius: 3px;

            // @media screen and (max-width: 768px) {
            //     margin-top: 5rem;
            //     margin-left: 0;
            // }

            // @media screen and (max-height: 760px) {
            //     margin-top: 1rem;
            //     margin-left: 0;
            // }
        }

        button:hover {
            background: $button-hover-color;
            // color: #D8575B;
        }

        .header {
            width: 100%;
            display: flex;
            align-items: center;
        }

        .questionIndex {
            margin-top: 2rem;
            font-family: Alacrity Sans;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 42.77px;
            color: #9AF0F4;
            text-shadow: 0px 0px 22.223052978515625px 0px #9AF0F4B2;
            width: 100%;

            @media screen and (max-width: 768px) {
                margin-top: 0;
                margin-inline: 1.5rem;
                font-size: 2rem;
            }

            span {
                font-size: 1.25rem;
            }
        }

        .questionIndex:nth-child(2) {
            text-align: right;
        }

        .problem {
            margin-top: 3rem;
            font-family: Space Grotesk;
            font-size: 1.25rem;
            font-weight: 400;
            text-align: left;
            color: #9AF0F4;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
                margin-left: 1.5rem;
                margin-top: .75rem;
                padding-right: .5rem;

            }

        }

        .answer {
            width: 100%;

            @media screen and (max-width: 768px) {
                margin-top: 1rem;
                margin-left: 3rem;
                padding-right: 2.5rem;
                max-height: 35vh;
                overflow-y: scroll;
            }

            .option {
                // margin-left: -2rem;
                display: flex;
                margin-top: 2rem;
                font-family: Space Grotesk;
                font-size: 1.25rem;
                font-weight: 300;
                text-align: left;
                color: #9AF0F4;
                display: flex;
                align-items: center;
                gap: 1rem;

                @media screen and (max-width: 768px) {
                    font-size: .75rem;
                    margin-top: 1rem;
                }

                label {
                    cursor: pointer;
                }

                input {
                    width: 10%;
                    cursor: pointer;
                    aspect-ratio: 1;
                }

                input[type="radio"] {
                    -webkit-appearance: none;
                    width: 16px;
                    height: 16px;
                    border: 1px solid #9AF0F4;
                    border-radius: 50%;
                    outline: none;
                    background: #132123;
                    box-shadow: 0 0 1px #9AF0F4;

                    @media screen and (max-width: 768px) {
                        // width: 35px;
                        aspect-ratio: 1;
                    }
                }

                input[type="radio"]:checked {
                    background: #9AF0F4;
                }
            }
        }

        .navButtons {
            display: flex;
            gap: 2rem;

            button {
                @media screen and (max-width: 768px) {
                    padding: .5rem 1.5rem;
                    font-size: 1rem;
                }
            }


        }
    }
}