$bg-color: rgba(8, 7, 7, 0.75);
$text-color: #EDBE6B;
$border-color: #FFB94D;
$button-color: rgba(29, 15, 12, 1);
$button-hover-color: rgba(18, 10, 8, 0.5);

.pageContainer {
    width: 100%;
    height: 100dvh;
    background-image: url(../../src/assets/Quantaculus/background.png);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 800px) {
        background-image: url(../../src/assets/Quantaculus/background-tab.png);

    }

    @media screen and (max-width: 568px) {
        overflow-y: scroll;
        background-image: url(../../src/assets/Quantaculus/background-mobile.png);
    }

    .pageWrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
}

.submitted{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.loginBox {
    height: fit-content;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
    color: $text-color;
    padding: 3rem;

    @media screen and (max-width: 1000px) {
        width: 60vw;
    }

    @media screen and (max-width: 500px) {
        width: 100vw;
        padding: 1.5rem;
    }

    h1 {
        font-family: "Birmingham";
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 4.2px;
        padding-bottom: 3rem;

        @media screen and (max-width: 800px) {
            font-size: 30px;
            padding-bottom: 2.5rem;
        }

        @media screen and (max-width: 500px) {
            font-size: 26px;
            padding-bottom: 2rem;
        }
    }

    h3 {
        font-size: 24px;
        font-weight: 300;
        font-family: "Playfair Display";
        padding-bottom: 2rem;
        text-align: center;

        @media screen and (max-width: 800px) {
            font-size: 21px;
            padding-bottom: 1.5rem;
        }

        @media screen and (max-width: 500px) {
            font-size: 18px;
            padding-bottom: 1rem;
        }
    }

    .loginForm {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $text-color;
        position: relative;

        @media screen and (max-width: 1000px) {
            width: 80%;
        }

        @media screen and (max-width: 500px) {
            width: 100%;
            align-items: center;
        }

        .label {
            font-family: "Playfair Display";
            font-style: italic;
            font-size: 22px;
            font-weight: 400;
            line-height: 32px;
            width: 100%;

            @media screen and (max-width: 800px) {
                font-size: 20px;
                line-height: 30px;
                padding-left: 0rem;
            }

            @media screen and (max-width: 500px) {
                font-size: 18px;
                line-height: 28px;
                padding-left: 1rem;
            }
        }

        input {
            background-color: $button-color;
            margin-bottom: 2rem;
            margin-top: .5rem;
            padding: .75rem 1.5rem;
            border-radius: 5px;
            outline: none;
            font-size: 20px;
            font-family: "Playfair Display";
            color: $text-color;
            width: 88%;

            @media screen and (max-width: 800px) {
                font-size: 18px;
                margin-bottom: 1.8rem;
            }

            @media screen and (max-width: 500px) {
                font-size: 16px;
                width: calc(100% - 4.2rem);
                margin-bottom: 1.4rem;
            }

            &::placeholder {
                color: $text-color;
            }
        }

        .errorMessage {
            color: #9c2e1f;
            font-size: 18px;
            position: absolute;
            bottom: 5.3rem;

            @media screen and (max-width: 800px) {
                font-size: 16px;
                bottom: 4.9rem;
            }

            @media screen and (max-width: 500px) {
                font-size: 13px;
                bottom: 3.8rem;
            }
        }

        .submit {
            margin-top: 3rem;
            background-color: $button-color;
            color: $text-color;
            padding: 0.8rem 1.8rem;
            border: 2px solid $border-color;
            font-family: "OldNewspaperTypes";
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            cursor: pointer;
            margin-bottom: 0;

            &:hover {
                background: $button-hover-color;
            }

            @media screen and (max-width: 800px) {
                font-size: 21px;
                padding: 0.7rem 1.4rem;
                width: fit-content;
                margin-top: 2.3rem;
            }

            @media screen and (max-width: 500px) {
                font-size: 18px;
                padding: 0.4rem 1rem;
                border: 1.5px solid $border-color;
                width: fit-content;
                margin-top: 2rem;
            }
        }
    }
}

.showPassword {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    font-size: 1rem;
    position: relative;
    top: 1rem;
    left: 3rem;
    gap: 0.3rem;

    @media screen and (max-width: 500px) {
        left: -0.8rem;
        font-size: 12px;
        top: 0.6rem;
    }

    input{
        width: 2rem;
        margin: auto;
        outline: none;
        background-color: $button-color;
        color: $text-color;

        @media screen and (max-width: 500px) {
            width: 12px;
            height: 12px;
        }
    }

    label{
        line-height: 28px;
        text-wrap: nowrap;
    }
}

.passlabel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submitBtn{
    @media screen and (max-width: 768px){
        display: none;
    }
}

.submitBtnMobile{
    display: none;

    @media screen and (max-width: 768px){
        display: block;
    }
}

.contentBox {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .instructions {
        position: absolute;
        width: 90%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $bg-color;
        color: $text-color;
        padding: 2rem;
        max-height: 90lvh;
        overflow-y: scroll;

        @media screen and (max-width: 800px) {
            padding: 1.6rem;
        }

        @media screen and (max-width: 500px) {
            width: 100%;
            padding: 0;
            max-height: 90lvh;
            overflow-y: scroll;
        }

        h1 {
            font-family: "Birmingham";
            text-align: center;
            font-size: 32px;
            letter-spacing: 4px;

            @media screen and (max-width: 900px) {
                font-size: 28px;
            }

            @media screen and (max-width: 500px) {
                font-size: 24px;
                padding-top: 1.6rem;
            }
        }

        ul {
            margin-top: 3rem;
            margin-bottom: 3rem;
            height: fit-content;

            @media screen and (max-width: 800px) {
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
            }

            @media screen and (max-width: 500px) {
                margin-top: 2rem;
                margin-bottom: 1.5rem;
            }

            li {
                margin-left: 2.5rem;
                font-family: "Playfair Display";
                font-size: 22px;
                font-weight: 300;
                text-align: left;
                margin-right: 2.5rem;
                padding-bottom: 10px;

                @media screen and (max-width: 900px) {
                    font-size: 18px;
                }
    
                @media screen and (max-width: 500px) {
                    font-size: 15px;
                    margin-left: 2rem;
                    margin-right: 1.5rem;
                    padding-bottom: 7px;
                }
            }

        }

        button {
            background-color: $button-color;
            color: $text-color;
            padding: 0.9rem 1.8rem;
            border: 2px solid $border-color;
            font-family: "OldNewspaperTypes";
            font-size: 25px;
            font-weight: 700;
            text-align: center;
            cursor: pointer;
            border-radius: 3px;

            &:hover {
                background: $button-hover-color;
            }

            @media screen and (max-width: 800px) {
                font-size: 21px;
                padding: 0.7rem 1.4rem;
                width: fit-content;
            }

            @media screen and (max-width: 500px) {
                font-size: 18px;
                padding: 0.4rem 1rem;
                border: 1.5px solid $border-color;
                width: fit-content;
                margin-bottom: 1.6rem;
            }
        }

        .header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 500px) {
                margin-top: 1rem;
                flex-wrap: wrap;
            }
        }

        .questionIndex {
            font-family: "Birmingham";
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 42.77px;
            color: $text-color;

            @media screen and (max-width: 768px) {
                margin-inline: 1.5rem;
                font-size: 2rem;
            }

            span {
                font-size: 24px;
            }

            @media screen and (max-width: 400px) {
                margin-inline: 1.25rem;
                font-size: 28px;
            }

            span {
                font-size: 20px;
            }
        }

        .mobileTimer {
            display: none;

            @media screen and (max-width: 500px) {
                display: flex;
                font-family: sans-serif;
                font-size: 13px;
                flex-direction: column;
                gap: 7px;
                margin-right: 1.5rem;
            }
        }

        .timer {
            display: flex;
            font-family: sans-serif;
            font-size: 20px;
            padding-right: 2rem;

            @media screen and (max-width: 800px) {
                font-size: 16px;
            }

            @media screen and (max-width: 500px) {
                display: none;
                font-size: 14px;
                padding-right: 1.5rem;
            }
        }

        .questionIndex:nth-child(2) {
            text-align: right;
        }

        .problem {
            margin-top: 3rem;
            font-family: "Playfair Display";
            font-size: 24px;
            font-weight: 400;
            text-align: left;
            color:$text-color;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
                margin-left: 1.5rem;
                margin-top: .75rem;
                margin-right: 1.5rem;

            }

            .problemImage {
                height: 300px;
                // width: 400px;
                // background-color: white;
                margin-left: auto;
                margin-right: auto;
                // display: none;

                @media screen and (max-width: 768px) {
                   height: 200px;
                }

                @media screen and (max-width: 500px) {
                    height: 160px;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }

        }

        .answer {
            width: 100%;

            @media screen and (max-width: 768px) {
                width: calc(100% - 3rem);
                margin-top: 1rem;
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                max-height: 35vh;
                // overflow-y: scroll;
            }

            .option {
                display: flex;
                margin-top: 2rem;
                font-family: "Playfair Display";
                font-size: 20px;
                font-weight: 300;
                text-align: left;
                color: $text-color;
                display: flex;
                align-items: center;
                gap: 1rem;

                @media screen and (max-width: 768px) {
                    font-size: .75rem;
                    margin-top: 1rem;
                }

                label {
                    cursor: pointer;
                }

                input {
                    width: 10%;
                    cursor: pointer;
                    aspect-ratio: 1;
                }

                input[type="radio"] {
                    -webkit-appearance: none;
                    width: 16px;
                    height: 16px;
                    border: 1px solid $border-color;
                    border-radius: 50%;
                    outline: none;
                    background: $button-color;

                    @media screen and (max-width: 768px) {
                        // width: 35px;
                        aspect-ratio: 1;
                    }
                }

                input[type="radio"]:checked {
                    background: $text-color;
                }
            }
        }

        .navButtons {
            display: flex;
            gap: 2rem;
            margin-top: 3rem;

            button {
                @media screen and (max-width: 768px) {
                    padding: .5rem 1.5rem;
                    font-size: 1rem;
                }
            }


        }
    }
}

.submittedBox {
    background-color: $bg-color;
    color: $text-color;
    height: 300px;
    width: 70%;
    font-family: "Birmingham";
    text-align: center;

    @media screen and (max-width: 500px) {
        width: 100%;
        height: 250px;
    }
    
    p {
        font-size: 33px;

        @media screen and (max-width: 500px) {
            font-size: 26px;
        }
    }
}